apiVersion: v1
kind: PersistentVolume
metadata:
  name: jupyterhub-users-pv
spec:
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: azurefile
  azureFile:
    secretName: azure-files-secret
    shareName: jupyterhub-users
    readOnly: false
  mountOptions:
    - dir_mode=0755
    - file_mode=0644
    - uid=1000
    - gid=100
    - mfsymlinks
    - cache=strict
    - actimeo=30
    - nobrl
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jupyterhub-users-pvc
  namespace: jupyterhub
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: azurefile
  resources:
    requests:
      storage: 100Gi
  volumeName: jupyterhub-users-pv
