apiVersion: v1
kind: ConfigMap
metadata:
  name: postgresql-primary-config
  namespace: database
data:
  # PostgreSQL primary configuration
  postgresql.conf: |
    # Connection settings
    listen_addresses = '*'
    max_connections = 100
    
    # Memory settings
    shared_buffers = 256MB
    effective_cache_size = 1GB
    work_mem = 16MB
    maintenance_work_mem = 64MB
    
    # WAL settings for replication
    wal_level = replica
    max_wal_senders = 10
    max_replication_slots = 10
    wal_keep_size = 1GB
    hot_standby = on
    
    # Logging
    logging_collector = on
    log_directory = 'log'
    log_filename = 'postgresql-%Y-%m-%d_%H%M%S.log'
    log_statement = 'mod'
    log_min_duration_statement = 1000
    
    # Performance
    checkpoint_completion_target = 0.9
    random_page_cost = 1.1
    
  pg_hba.conf: |
    # TYPE  DATABASE        USER            ADDRESS                 METHOD
    
    # Local connections
    local   all             all                                     trust
    host    all             all             127.0.0.1/32            trust
    host    all             all             ::1/128                 trust
    
    # Kubernetes pod network connections
    host    all             all             10.0.0.0/8              md5
    
    # Replication connections
    host    replication     replicator      10.0.0.0/8              md5
    host    replication     replicator      10.1.0.0/16             md5
    host    replication     replicator      10.2.0.0/16             md5
